/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.primary-1 { background-color: #DFA062 }
.primary-2 { background-color: #C39364 }
.primary-3 { background-color: #B87A3D }
.primary-4 { background-color: #E7AE76 }
.primary-5 { background-color: #E8CDB3 }

.complement-1 { background-color: #3F7C8A }
.complement-2 { background-color: #3F6E79 }
.complement-3 { background-color: #276472 }
.complement-4 { background-color: #5898A7 }
.complement-5 { background-color: #779399 }


.maindiv {
	display:inline-block;
	text-align: center ;
	margin-left: auto ;
  	margin-right: auto ;
}

.container {

}

body {
	margin:0; padding: 1em;
	background:#779399;
	color: #666;
	font: 75%/1.33 Verdana, sans-serif;
	text-align:left;
	}
h1 {
	margin: 0.5em 0;
	font-size: 200%;
	}
p {
	margin: 0.5em 0;
	}

hr {
	border:none;
	border-bottom:1px solid silver;
	}
#footer {
	padding:1em;
	text-align:center;
	font-size:80%;
	}
div {
	position: relative;

}


table {
	border: 1px solid #e3e3e3;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	padding: 1em;
	background-color: #E8CDB3;

}
td, th {
	padding: 5px;
}
thead {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding: .2em 0 .2em .5em;
	text-align: left;
	color: #4B4B4B;
	border-bottom: solid 1px #999;
}
th {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 17px;
	line-height: 20px;
	font-style: normal;
	font-weight: normal;
	text-align: left;
}
td {
	line-height: 20px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	border-bottom: 1px solid #3F7C8A;
	border-top: 1px solid #3F7C8A;
}

.complement-5 a:hover {
    background-color: #B87A3D  
}
tr:hover {
	background-color: #DFA062;
}